<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Conditional 제어문</h1>
    <h2>th:if , th:unless</h2>

    <p th:if="${num > 0}">넘어온 값이 0보다 크다.</p>
    <p th:unless="${num <0}">넘어온 값은 0보다 크다.</p>

    <th:block th:if="${str == '사과'}">
        <p>나는 사과가 좋아요</p>
    </th:block>
    <th:block th:if="${str == '바나나'}">
        <p>나는 바나나가 좋아요</p>
    </th:block>

    <p th:if="${ !#strings.isEmpty(str) and str == '바나나'}">바나나 조항유</p>

    <h2>th:switch, th:case</h2>
    <th:block th:switch="${str}">
        <span th:case="사과">사과 선택</span>
        <span th:case="바나나">바나나 선택</span>
    </th:block>

    <h2>th:each</h2>
    <h3>th:each 를 통해 태그 반복</h3>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>즈소</th>
        </tr>
        <tr th:each="member : ${memberList}">
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.address}"></td>
        </tr>
    </table>

    <h3>th:each 에 stat 를 추가해서 반복 상태를 확인할 수 있다.</h3>

    <table border="1">

        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
            <th>index</th>
            <th>count</th>
            <th>size</th>
            <th>current</th>
            <th>even</th>
            <th>odd</th>
            <th>first</th>
            <th>last</th>
        </tr>
        <tr th:each="member, stat : ${memberList}">
            <td text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${stat.index}"></td>
            <td th:text="${stat.count}"></td>
            <td th:text="${stat.size}"></td>
            <td th:text="${stat.current}"></td>
            <td th:text="${stat.even}"></td>
            <td th:text="${stat.odd}"></td>
            <td th:text="${stat.first}"></td>
            <td th:text="${stat.last}"></td>
        </tr>
    </table>

    <pre>
        th:each stat 를 추가하지 않았다면, 변수명 + Stat 으로 반복상태 확인가능
    </pre>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
            <th>index</th>
            <th>count</th>
            <th>size</th>
            <th>current</th>
            <th>even</th>
            <th>odd</th>
            <th>first</th>
            <th>last</th>
        </tr>
        <tr th:each="member : ${memberList}">
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${memberStat.index}"></td>
            <td th:text="${memberStat.size}"></td>
            <td th:text="${memberStat.current}"></td>
            <td th:text="${memberStat.even}"></td>
            <td th:text="${memberStat.odd}"></td>
            <td th:text="${memberStat.first}"></td>
            <td th:text="${memberStat.last}"></td>
        </tr>
    </table>

</body>
</html>